#nayeon{font-family: Arial; font-size: 20px;}
.naye{height: 600px; width: 400px;}
#jeongyeon{font-family: Arial; font-size: 20px;}
.jeongg{height: 600px;}
#momo{font-family: Arial;font-size: 20px;}
.mom{height: 600px;}
#sana{font-family: Arial;font-size: 20px;}
.sanaa{height: 600px;}
#jihyo{font-family: Arial;font-size: 20px;}
.jihyoo{height: 600px;}
#mina{font-family: Arial;font-size: 20px;}
.minaa{height: 600px;}
#dahyun{font-family: Arial;font-size: 20px;}
.dahyunn{height: 600px;}
#chaeyoung{font-family: Arial;font-size: 20px;}
.chaee{height: 600px;}
#tzuyu{font-family: Arial;font-size: 20px;}
.tzu{height: 600px;}






